/*fonts*/
/*http://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html*/
@import url("lists.css");

@font-face {
    font-family: "Anime";
    src: url("../fonts/animeace2_reg.ttf");
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
    width: 600px;
}

#form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form input[type=submit]:hover {
    background-color: #45a049;
}

html * {
  /*color: #C6C8CA !important;*/
}

body {
    background-color:  #393939;
}
table {
	margin: 10px;
	color: #C6C8CA;
	font-family: 'Ubuntu', serif;
}
th{
	color: #393939;
}
span{
	color: #C6C8CA;
	margin: 5px;
}
h1,h3, p{
	color: #FFCC00;
	font-family: "Open Sans";
}

a{
	color: red;
	font-family: "Open Sans";
}
/*customs*/
.text-green{
	font-size: 20px;
	color: #00B233;
	font-family: "Ubuntu";
}
.text-yellow-small{
	font-size: 10px;
	color: #FFCC00;
	font-family: "Ubuntu";
}
.text-yellow{
	font-size: 20px;
	color: #FFCC00;
	font-family: "Ubuntu";
}
.text-yellow-big{
	font-size: 60px;
	color: #FFCC00;
	font-family: "Ubuntu";
}

.rainbow {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal normal bold 70px/normal "Bad Script", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rainbow:hover {
  text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.over_black { 
  background-color: black;
  color: #fff; 
  display: inline;
  padding: 0.5rem;
  font-family: "Open Sans";
  font-size: 20px;
  
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.neon-text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal bold 72px/normal "Atomic Age", Helvetica, sans-serif;
  color: rgb(64, 126, 196);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

.neon-text:hover {
  text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.neon2 {
    margin: 20px;
    font-family: 'Ubuntu', serif;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.yellow{
	font-family: 'Ubuntu', serif;
	font-size: 15px; 
	color: yellow;
}

.resalt{
	font-family: 'Ubuntu', serif;
	font-size: 20px; 
	color: red;
}

.t3 {
	margin-left:15px;
	font-size:30px;
   	color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}



.tres{
	color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}

.box{
	color: #393939;
	background: #bcbcbc none repeat scroll 0 0;
    border-color: #FFF;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    font-family: Anime;
    margin-left: 20px;
    margin-bottom: 10px;
}

.bigtitle-medium{
	margin-left: 20px;
	color: #393939;
    font-size: 50px;
    text-shadow: 3px 3px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    text-transform: uppercase;
	font-family: Anime;
}

.bigTitle{
	margin-left: 20px;
	color: #393939;
    font-size: 60px;
    text-shadow: 3px 3px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    text-transform: uppercase;
	font-family: Anime;
}

.bigTitle0{
	
	margin: 10px;
	
	font-size: 550%;
	
	color: #393939;
    text-shadow: -3px -3px 0 #FFF, 1px -3px 0 #FFF, -3px 3px 0 #FFF, 3px 3px 0 #FFF;
    
    /*font-family: Bangers;*/
     font-family: Anime;
}

.neon{
	text-shadow: 1px 1px 4px #00FF00; 
	font-size: 150%;
	margin:-2px;
	color: #fff;	
}


.readable{
	font-family: 'Ubuntu', serif;
}

.test{
	margin: 20px;padding: 5px;
	
	border-style: groove;
	border-width: 10px;
	
	border-top-color: #1E9600;
	border-left-color: #FFF200;
	border-right-color: #FFF200;
	border-bottom-color: #FF0000;
	
	color: #C6C8CA;
}
.title{
	font-family: 'Josefin Slab', serif;
	font-size: 48px; 
	text-shadow: 4px 4px 4px #660000;
	color: #C6C8CA;
	text-decoration: none;
}

/*overriding pure CSS*/
th * {
	color: yellow !important;
}

/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/