/*fonts*/
/*http://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html*/
@import url("lists.css");

@font-face {
    font-family: "Anime";
    src: url("../fonts/animeace2_reg.ttf");
}

html * {
  /*color: #C6C8CA !important;*/
}

body {
    background-color:  #393939;
}
table {
	margin: 10px;
	color: #C6C8CA;
	font-family: 'Ubuntu', serif;
}
th{
	color: #393939;
}
span{
	color: #C6C8CA;
	margin: 5px;
}
/*customs*/
.yellow{
	font-family: 'Ubuntu', serif;
	font-size: 15px; 
	color: yellow;
}

.resalt{
	font-family: 'Ubuntu', serif;
	font-size: 25px; 
	color: red;
}

.t3 {
	margin-left:15px;
	font-size:30px;
   	color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}



.tres{
	color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}

.box{
	color: #393939;
	background: #bcbcbc none repeat scroll 0 0;
    border-color: #FFF;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    font-family: Anime;
    margin-left: 20px;
    margin-bottom: 10px;
}

.bigTitle{
	margin-left: 20px;
	color: #393939;
    font-size: 60px;
    text-shadow: 3px 3px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    text-transform: uppercase;
	font-family: Anime;
}

.bigTitle0{
	
	margin: 10px;
	
	font-size: 550%;
	
	color: #393939;
    text-shadow: -3px -3px 0 #FFF, 1px -3px 0 #FFF, -3px 3px 0 #FFF, 3px 3px 0 #FFF;
    
    /*font-family: Bangers;*/
     font-family: Anime;
}

.neon{
	text-shadow: 1px 1px 4px #00FF00; 
	font-size: 150%;
	margin:-2px;
	color: #fff;	
}


.readable{
	font-family: 'Ubuntu', serif;
}

.test{
	margin: 20px;padding: 5px;
	
	border-style: groove;
	border-width: 10px;
	
	border-top-color: #1E9600;
	border-left-color: #FFF200;
	border-right-color: #FFF200;
	border-bottom-color: #FF0000;
	
	color: #C6C8CA;
}
.title{
	font-family: 'Josefin Slab', serif;
	font-size: 48px; 
	text-shadow: 4px 4px 4px #660000;
	color: #C6C8CA;
	text-decoration: none;
}

/*overriding pure CSS*/
th * {
	color: yellow !important;
}