*{  
  margin:0;
  padding:0;
}

body{
  
  background-color:#f0f0f0;
  font-family:helvetica;
}

a{
	color: black;
}

/*
a{
  display:block;
  color:#ad5482;  
  text-decoration:none;
  font-weight:bold;
  margin-top:40px;
  text-align:center;
}
*/

#bg{
  position:relative;
  top:10px;
  height:440px;
  width:800px;
  background:url('../images/climb/005.jpg') center no-repeat;
  background-size:cover;
  margin-left:auto;
  margin-right:auto; 
  border:#fff 5px solid;
}

.module{
  position:relative;
  top:2%;    
  height:95%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  /*
  background:RGBA(255,255,255,1);
  */
  /*background-color: #fff;*/
  background-color: rgba(255,255,255,0.8);
    
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  
}

.module ul{
  list-style-type:none;
  margin:0;
}

.tab{
  float:left;
  height:60px;
  width:25%;
  padding-top:20px;
  box-sizing:border-box;
  background:#eeeeee;  
  text-align:center;
  cursor:pointer;
  transition:background .4s;
}

.tab:first-child{  
  -webkit-border-radius: 5px 0px 0px 0px;
  border-radius: 5px 0px 0px 0px;
}

.tab:last-child{  
  -webkit-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

.tab:hover{  
  background-color:rgba(0,0,0,.1);
}

.activeTab{
  /*background:#fff;*/
   background-color: rgba(255,255,255,0.8);
   color: #90c843;
}
.activeTab:hover{
	background-color:rgba(255, 255, 255, 0.8);
	cursor: default;
}

.activeTab .icon{
  opacity:1;
}

.icon{
  height:24px;
  width:24px;
  opacity:.2;
}

.form{
  float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;
}

.justtext{
	width:100%;
	
	/*
	margin-top: 15px;
	margin-bottom: 12px;
	background-color: red;
	padding-top: 10px;
	padding-bottom: 10px;
	*/
}

.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
}

.textbox:focus{
  outline:none;
   border:rgba(24,149,215,1) 2px solid;
   color:rgba(24,149,215,1);
}

.textarea{
	width:100%;
	height:100px;
	resize: none;
}

.button{
  height:50px;
  width:80px;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  /*margin-bottom:30px;*/
  background:#90c843;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}

.back_b{
	background:#517422;
}

.cancel_b{
	background:#FF576A;
}

.finish_b{
	background:#00B4F1;
}

.button:disabled {
    background: #dddddd;
    color:#bdbdbd;
}

.button:hover:enabled{
  background:#80b438;
  
}

/*CUSTOM FOR FONT ICON*/
[class^="ti-"], [class*=" ti-"]{
	font-size:xx-large;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    
    color: white;
    background:rgba(0,0,0,0.75);
    width: 850px;
    height: 200px;
    z-index: 1;
    
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.information table, .information th, .information td {
   border: 1px solid #606060;
}

.information th{
	color: inherit;
}

.information {
  table-layout: fixed;
  width: 97%;
  white-space: nowrap;
}

.column-INVOCATION{width: 18%;}
.column-SCOPE{width: 13%;}
.column-VAR-NAME{width: 35%;}
.column-VAR-VALUE{width: 34%;}

.footerButtons{
	position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	bottom: 20px;
	font-size: 10px;
}

.fieldError{
	position: relative;
	top: -30px;
	color: red;
}